@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@theme {
    --color-bgBlue-100: #C5DFFF;
    --color-buttonBlue-100: #061E3C;
    --color-blue-hover: #1057B0;

    --font-inter: Inter, sans-serif;

    --animate-wiggle: wiggle 0.31s ease-in-out infinite;
  @keyframes wiggle {
    0%,
    100% {
      transform: rotate(-10deg);
    }
    50% {
      transform: rotate(10deg);
    }
  }
}